@font-face {
  font-family: 'BreakingBad';
  src: url(../public/assets/Breaking\ Bad.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: black;
  --bg-color: #0c3e11;

  --table-bgcolor: #2b2c24;
  --tb-primarycolor: #b8dc15;
  --tb-secondarycolor: #d4e682;
  --tb-thirdcolor: #f4f8dc;
  --tb-darkcolor: #89a41a;
  --tb-graycolor: #bcc49f;
  --tb-graygreencolor: #637126;
  --tb-graygreencolor2: #828d50;
  --tb-lastRowColor: #c0c628;
  --tb--pruple: #ab8fcb;
  --tb--smallTb: #c8c487;

  --big-font: 40px;
  --small-font: 10px;

  font-family: 'BreakingBad', Helvetica;
}

/* GENERAL */

body {
  margin: auto;
  color: white;
}
main {
  font-size: var(--big-font);
  margin: 0 auto;

  text-align: center;
}

h1 {
  font-size: var(--big-font);
}
h3 {
  font-size: 0.7rem;
}

legend {
  font-size: 0.9rem;
  font-weight: 900;
}

label {
  font-size: var(--small-font);
  font-weight: 900;
}

table {
  background-color: var(--table-bgcolor);
  width: 770px;
  height: 560px;
  text-align: center;
  border-spacing: 5px;
  margin: 1em auto;
}

td {
  color: black;
  max-width: 70px;
  max-height: 70px;
}

table td img {
  height: 40px;
}

.bg-color {
  background-color: var(--bg-color);
  flex-direction: column;
  align-items: center;
}

.bg-image {
  background-image: url('../public/img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.fontFamily {
  font-family: Helvetica;
}
.disCol {
  margin-bottom: 1em;
}

.disCol label,
.disCol input {
  display: block;
  width: 100%;

  margin-top: 1em;
}

.datosSexo label,
.datosSexo input {
  display: inline;
  padding-right: 1em;
  width: 40px;

  margin: 1em 0;
}

.smText {
  font-size: var(--small-font);
}
.lgText {
  font-weight: 900;
}

.borderForms {
  border: 1px solid white;
  padding: 1em;
  margin: 1em;
}

.tbColor_1 {
  background-color: var(--tb-primarycolor);
}
.tbColor_2 {
  background-color: var(--tb-secondarycolor);
}

.tbColor_3 {
  background-color: var(--tb-thirdcolor);
}

.tbColor_dk {
  background-color: var(--tb-darkcolor);
}

.tbColor_gray1 {
  background-color: var(--tb-graycolor);
}

.tbColor_graygreen {
  background-color: var(--tb-graygreencolor);
}

.tbColor_greygreen2 {
  background-color: var(--tb-graygreencolor2);
}

.tbColor_purple {
  background-color: var(--tb--pruple);
}

.tbEmpty {
  background-color: var(--table-bgcolor);
}

.tbSmall {
  background-color: var(--tb-lastRowColor);
}

.borderRed {
  border: 5px solid red;
}
.borderBlue {
  border: 5px solid blue;
}

/* MAIN */

.main_logo {
  width: 200px;
  height: 200px;
  margin-top: 1em;
}

.main_title {
  margin: 1em 0;
}

.main_poster {
  width: 700px;
  height: 300px;
  border: 10px outset brown;
  border-radius: 22px;
}

/* FORMS */

form {
  margin: 5em auto;
  width: 500px;
}

form > h1 {
  text-align: center;
}

form input {
  padding: 5px;
  font-weight: 500;
}
.form_breaking {
  background-color: rgba(128, 128, 128, 0.572);
  padding: 2em;
}
.form_btn button,
.form_btn input {
  display: inline;
}

.menu_btn {
  width: 100%;
  margin: auto;
  text-align: center;
}

.btn {
  margin: 1em 1em;
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

/* TABLE */

.imgHa {
  background-image: url('../public/img/tablaPeriodica/hankschrader.png');
  background-repeat: no-repeat;
  background-size: 70px 140px;
  background-position: center;
}

.tbl_title {
  margin-top: 100px;
}

.tbl_foot {
  width: 700px;
  height: 140px;
}
